#game-container {
    position: relative;
    top:0px;
    width: 900px;
    height: 400px;
    border: #e41313;
    background-color: lightblue;
}

#bird{
    position: absolute;
    width: 40px;
    height: 40px;
    position: relative;
    top: 120px;
    left: 50px;
}

#score-display{
    font-size: 30px;
}

.port{
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: #e41313;
    right: 50px;
}

#port1{
    top: 0;
}

#port2{
    bottom: 0;
}

